footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .githubLink {
        color: #d9d9d9;
        text-decoration: none;
    }
}

@media screen and (max-width: 1100px) {
    footer {
        display: grid;
        justify-content: center;
        text-align: center;
        margin-bottom: 100px;
    }
}
