$block-bg: #212121;
$block-font: #e1e1e1;

.mainBlockItem {
    position: relative;

    height: 250px;
    width: auto;

    background-color: $block-bg;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    padding: 30px;
    border-radius: 15px;

    color: $block-font;

    .playButton {
        position: absolute;
        bottom: 30px;
        cursor: pointer;
    }
}
