@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");

$background-color: #000;
$font-color: #d9d9d9;

body {
    font-family: "Comfortaa", sans-serif;
    background: $background-color;
    color: $font-color;
    margin: 0;

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        word-spacing: 3px;
    }

    h2 {
        font-weight: 400;
        color: #fff;
        letter-spacing: 3px;
    }

    #warning {
        color: #ca2020;
    }

    button,
    input {
        font-family: "Comfortaa", sans-serif;
    }

    main {
        padding-top: 13vh;
        padding-bottom: 13vh;
    }

    .App {
        display: flex;
        flex-direction: row;
    }

    .container {
        width: 50%;
        margin: 0 auto;
        padding: 30px 100px 30px 30px;
    }

    @media screen and (max-width: 1100px) {
        .container {
            padding: 30px 50px;
            width: 100%;
        }
    }

    .title {
        display: flex;
        gap: 50px;

        & > h1 {
            @media screen and (max-width: 1100px) {
                font-size: 25px;
            }
        }

        @media screen and (max-width: 1100px) {
            gap: 20px;
        }
    }

    .AGP-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }

    .expand-icon {
        height: 32px;
        width: 32px;
        position: relative;
        cursor: pointer;
    }
    .expand-icon::before,
    .expand-icon::after {
        content: " ";
        width: 32px;
        height: 4px;
        background-color: #d9d9d9;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transition: all 0.15s cubic-bezier(0.42, 0, 0.58, 1);
        opacity: 1;
        border-radius: 2px;
    }
    .expand-icon::before {
        transform: translate(-50%, -50%) rotate(90deg);
    }
    .expand-icon::after {
        transform: translate(-50%, -50%);
    }

    .expand-icon.expanded::before {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    .expand-icon.expanded::after {
        transform: translate(-50%, -50%) rotate(0deg);
        opacity: 0;
    }
}
