header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    .searchBtn {
        background: none;
        border: none;
        cursor: pointer;
    }
    
    .logo{
        display: none;
    }
    
    .user {
        position: relative;
        cursor: pointer;

        .userInfo{

            display: flex;
            align-items: center;
            gap: 20px;

            .userIcon {
                width: 50px;
                height: 50px;
                border-radius: 100px;
            
                background-color: #fff;
                border: 3px solid #BABABA;
            
                background-repeat: no-repeat;
                background-size: cover;
            }

        }
        

        .window{
            background-color: #0C0C0C;
            
            width: 155px;

            padding: 47px 37px;
            
            border-radius: 5px;
            
            position: absolute;
            top: 75px;
            left: -35px;
            
            z-index: 1;

            ul{

                display: grid;
                gap: 33px;
                margin: 0;
                padding: 0;
                
                li{
                    list-style-type: none;
                    color: #7A7A7A;
                    transition: 0.3s;
                    cursor: pointer;

                    &:hover{
                        color: #FFF;
                    }

                }
            }

            @media screen and (max-width: 1100px) {
                top: 75px;
                left: -155px;
            }
        }
    }

    a{
        color: #D9D9D9;
        text-decoration: none;
    }
}



@media screen and (max-width: 1100px) {
    header{
        .logo{
            display: block;
        }
    
        .userInfo > p {
            display: none;
        }
    }
}